body {
    background-image: url("images/background.svg");
    background-size: cover;
}

.text01 {
    color: white;
    background-color: rgba(54, 54, 136, 0.822);
    width: 100%;
    height: 75%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 50% 25%;
}

.text01 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 20;
    margin: 10%;
    justify-self: right;
}

.text01 #linhas {
    grid-column: 2;
    grid-row: 2;
    border-radius: 50px;
}

.text02 {
    background-color: rgba(255, 255, 255, 0.822);
    width: 100%;
    height: 75%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.text02 #texto {
    font-size: 30;
    color: rgb(5, 92, 41);
    grid-column: 2;
    margin: 0 50px 0 50px;
}

.text02 #img1 {
    align-items: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
}

.text03 {
    background-color: rgba(117, 119, 216, 0.822);
    width: 100%;
    height: 75%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 30% 70%;
}