body {
    background-image: url("images/background.svg");
    background-size: cover;
}

.texto {
    display: inline-block;
    background: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.texto h1 {
    color: black;
    font-size: 20px;
margin-left: 5%;
margin-right: 5%;
    /* background-color:rgba(113, 224, 68, 0.692); */
}

.texto img {
    display: inline-block;
    width: 50%;
    margin: 10px 50px 10px 50px;
}