body {
    background-image: url("images/background.svg");
    background-size: cover;
}

.texto {
    display: inline-block;
    background: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.texto h1 {
    color: black;
    font-size: 15px;
    padding: 5%;
}

.texto img {
    display: inline-block;
    width: 50%;
    margin: 10px 50px 10px 50px;
}