body {
    background-image: url("images/background.svg");
    background-size: cover;
}


/* The navbar container */

.topnav {
    overflow: hidden;
}

.topnav div {
    display: inline;
    background-color: #fff;
    width: 100%;
}


/* Navbar links */

.topnav a {
    float: left;
    display: inline;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Links - change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}