body {
    background-color: powderblue;
    /*background: lightblue url("Fundo.jpg") no-repeat;*/
    background: towperblue;
    background: no-repeat;
    background-size: cover;
}

;

/*  * { margin: 0; padding: 0; } */

img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

#fundo {
    background-color: #a3a9fa;
}

a:link {
    color: green;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    overflow: hidden;
}

.aside {
    width: 200px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.aside {
    width: 200px;
}

a:hover {
    color: red;
}

a:active {
    background-color: gray;
}

.centro {
    display: inline-block;
    margin: auto;
}

.centrar {
    margin: 50px 150px 50px 150px;
}

.centrar img {
    margin: auto;
}

.rodape {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    justify-items: baseline;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#texto {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    justify-items: baseline;
    text-align: center;
    color: red;
    width: 100%;
}

.rodape span {
    background-color: white;
    width: 100%;
}

.rodape a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    margin-left: 5%;
}

.rodape a:hover {
    color: white;
    text-decoration: none;
}

.meio {
    display: inline-block;
    width: 100%;
    padding: 20px;
    padding-top: 20%;
    padding-bottom: 30%;
    color: white;
}

.meio h1 {
    align-self: center;
    text-align: left;
    font-size: 170%;
    padding: 10px 10px 0px 10px;
}


/* .meio:hover h1 {
    transform: translateY(-40%);
} */

.meio img {
    max-width: 100%;
    float: right;
}