html{height:100%;}
body {
	background-color: powderblue;
	/*background: lightblue url("Fundo.jpg") no-repeat;*/
	background: towperblue;
	background-size:cover;
};

#fundo{
  background-color: #a3a9fa;
}
a:link {
  color: green;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;

}
.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}	.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}

a:hover {
  color: red;
}
a:active {
  background-color: gray;
}
div {
display: inline-block;
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
  align: right;
}





.centro {
  text-align: center;
}

h1 {
border: 4px double green;

}
h2 {
	
	text-align: left;
}
h3 {
  text-align: left;
}







.star {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	
    font-size: 20px;
    background: #40D0E0;
    padding: 0px;
    width: 400px;
    text-align: center;
    border-radius: 0px;
	margin: 120px 0px 0px 50px;
    bottom: 10px;
    cursor: pointer;
    line-height: 30px;
    
    transition-property: background;
    -moz-transition-property: background; /* Firefox 4 */
    -webkit-transition-property: background; /* Safari and Chrome */
    -o-transition-property: background;
    
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}
.star:hover {
    background: #FFF;
    color: #054f77;
}
.star span {	
    font-size: 20px;
    font-weight: bold;
}



.star2 {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	
    font-size: 20px;
    background: #40D0E0;
    padding: 0px;
    width: 400px;
    text-align: center;
    border-radius: 0px;
	margin: 120px 0px 0px 50px;
    
    cursor: pointer;
    line-height: 30px;
    
    transition-property: background;
    -moz-transition-property: background; /* Firefox 4 */
    -webkit-transition-property: background; /* Safari and Chrome */
    -o-transition-property: background;
    
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}

.star2:hover {
    background: #FFF;
    color: #054f77;
}
.star2 span {
    font-size: 20px;
    font-weight: bold;
}




margin: 0px auto 0 auto; por as merdas no centro








